FIREBASE_PROJECT_ID=your-project-id
FIREBASE_CLIENT_EMAIL=your-client-email
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
WEB3STORAGE_TOKEN=your_web3storage_api_token
CORS_ORIGIN=http://localhost:5173
PORT=4000
